.App {
  text-align: center;
  min-height: 100%;
  background-image: radial-gradient(circle at 0% 0%, #292726, #312E2B 51%, #1f1d1b);
}

#homepage-container{
  display: flex;
  flex-direction: column;
  align-self: center;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}

#root{
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: radial-gradient(circle at 0% 0%, #292726, #312E2B 51%, #1f1d1b);
  display: flex;
  flex-direction: column;
  align-self: center;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}


body{
  background-image: radial-gradient(circle at 0% 0%, #292726, #312E2B 51%, #1f1d1b);
  display: flex;
  flex-direction: column;
  align-self: center;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}

.title-container{
  display: flex;
  flex-direction: column;
  align-self: center;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}

#chess-logo{
  width: 500px;
  margin-top: 10px;
}


input { border-style: none; background: transparent; outline: none; }
button { padding: 0; background: none; border: none; outline: none; }


.input-field{
  position: relative;
  display: flex;
  flex-direction: row;
  background-color: rgba(149, 187, 74, 0.5);
  width: 622px;
  height: 78px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  margin-top: 25px;
}

.input-field input {
  flex-grow: 1;
  color: rgba(255, 255, 255, 1);
  font-family: "MontSerrat Bold";
  font-style: normal;
  font-size: 30px;
  vertical-align: middle;
  text-align: center;
}

.input-field input::-webkit-input-placeholder {
color: rgba(255, 255, 255, 1);
}

.input-field:hover {
background-color: rgba(149, 187, 74, 0.7); ;
}

input:focus::placeholder {
  color: transparent;
}

.pushable {
  background: hsl(89deg, 38%, 32%);
  border-radius: 25px;
  border: none;
  padding: 0;
  cursor: pointer;
  outline-offset: 4px;
}
.front {
  display: block;
  padding: 23px 42px;
  border-radius: 25px;
  font-size: 36px;
  font-family: 'MontSerrat ExtraBold';
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: black;
  background: hsl(80deg, 45%, 51%);
  color: white;
  transform: translateY(-3px);

}

.pushable:active .front {
  transform: translateY(-2px);
}

.firstTitle{
  color: white;
  font-size: 36px;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
  font-family: 'MontSerrat ExtraBold';
  max-width: 1264px;
  text-align: center;
}

.description{
  color: white;
  font-size: 24px;
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: black;
  margin-top: 15px;
  font-family: 'MontSerrat ExtraBold';
  max-width: 1264px;
  text-align: center;
}
.horizontal-div{
  margin-top: 30px;
}

.big-title{
  color: white;
  font-size: 64px;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: black;
  font-family: 'MontSerrat ExtraBold';
  max-width: 698px;
  text-align: center;
}

#homepage-input{
  background: rgba(39, 37, 34, 0.5);
  margin-top: 25px;
}

#submit-button{
  width: 386px;
  height: 87px;
  margin-top: 45px;
}

.loading-gif{
  margin-top: 25px;
  margin-bottom: 12px;
}


@font-face {
  font-family: "MontSerrat";
  src: url("fonts/montserrat-regular-webfont.woff") format("woff");
}

@font-face {
  font-family: "MontSerrat Bold";
  font-style: bold;
  src: url("fonts/montserrat-bold-webfont.woff") format("woff");
}

@font-face {
  font-family: "MontSerrat ExtraBold";
  font-style: extraBold;
  src: url("fonts/montserrat-extrabold-webfont.woff") format("woff");
}   